<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @publication.chapter %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @publication.pages %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @publication.publisher %>
</p>

<p>
  <strong>Doi:</strong>
  <%= @publication.doi %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @publication.volume %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @publication.isbn %>
</p>

<p>
  <strong>Issn:</strong>
  <%= @publication.issn %>
</p>

<p>
  <strong>Date:</strong>
  <%= @publication.date %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @publication.booktitle %>
</p>

<p>
  <strong>Address:</strong>
  <%= @publication.address %>
</p>

<p>
  <strong>Uri:</strong>
  <%= @publication.uri %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @publication.journal %>
</p>

<p>
  <strong>Number:</strong>
  <%= @publication.number %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @publication.howpublished %>
</p>

<p>
  <strong>School:</strong>
  <%= @publication.school %>
</p>

<p>
  <strong>Publication stype:</strong>
  <%= @publication.publication_type.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @publication.teacher.name %>
</p>

<p>
  <strong>Research project:</strong>
  <%= @publication.research_project%>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
