<h1>Listing theses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Student</th>
      <th>Academic degree</th>
      <th>Institution</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @theses.each do |thesis| %>
      <tr>
        <td><%= thesis.title %></td>
        <td><%= thesis.url %></td>
        <td><%= thesis.student %></td>
        <td><%= thesis.academic_degree %></td>
        <td><%= thesis.institution %></td>
        <td><%= link_to 'Show', thesis %></td>
        <td><%= link_to 'Edit', edit_thesis_path(thesis) %></td>
        <td><%= link_to 'Destroy', thesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thesis', new_thesis_path %>
