<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @author.publication %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @author.teacher %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
