<%= form_for(@thesis_examination) do |f| %>
  <% if @thesis_examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thesis_examination.errors.count, "error") %> prohibited this thesis_examination from being saved:</h2>

      <ul>
      <% @thesis_examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :thesis %><br>
    <%= f.text_field :thesis %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
