<h1>Listing academic_informations</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Institution</th>
      <th>Teacher</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_informations.each do |academic_information| %>
      <tr>
        <td><%= academic_information.course.name %></td>
        <td><%= academic_information.institution.name %></td>
        <td><%= academic_information.teacher.name %></td>
        <td><%= link_to 'Show', academic_information %></td>
        <td><%= link_to 'Edit', edit_academic_information_path(academic_information) %></td>
        <td><%= link_to 'Destroy', academic_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Academic information', new_academic_information_path %>
