<h1>Listing files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Folder</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.name %></td>
        <td><%= file.folder %></td>
        <td><%= file.subject %></td>
        <td><%= link_to 'Show', file %></td>
        <td><%= link_to 'Edit', edit_file_path(file) %></td>
        <td><%= link_to 'Destroy', file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File', new_file_path %>
