<h1>Listing thesis_supervisions</h1>
<%= link_to 'New Thesis supervision', new_thesis_supervision_path %>
<table>
  <thead>
    <tr>
      <th>Thesis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thesis_supervisions.each do |thesis_supervision| %>
      <tr>
        <td><%= thesis_supervision.thesis.title %></td>
        <td><%= link_to 'Show', thesis_supervision %></td>
        <td><%= link_to 'Edit', edit_thesis_supervision_path(thesis_supervision) %></td>
        <td><%= link_to 'Destroy', thesis_supervision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
