<p id="notice"><%= notice %></p>

<p>
  <strong>B_date:</strong>
  <%= @thesis_supervision.b_date %>
</p>

<p>
  <strong>E date:</strong>
  <%= @thesis_supervision.e_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thesis_supervision.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @thesis_supervision.teacher.name %>
</p>

<p>
  <strong>Thesis:</strong>
  <%= @thesis_supervision.thesis.title %>
</p>

<%= link_to 'Edit', edit_thesis_supervision_path(@thesis_supervision) %> |
<%= link_to 'Back', thesis_supervisions_path %>
