<h1>Listing research_projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @research_projects.each do |research_project| %>
      <tr>
        <td><%= research_project.name %></td>
        <td><%= link_to 'Show', research_project %></td>
        <td><%= link_to 'Edit', edit_research_project_path(research_project) %></td>
        <td><%= link_to 'Destroy', research_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research project', new_research_project_path %>
