<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @research_project.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @research_project.url %>
</p>

<p>
  <strong>B date:</strong>
  <%= @research_project.b_date %>
</p>

<p>
  <strong>E date:</strong>
  <%= @research_project.e_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @research_project.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @research_project.teacher.name %>
</p>

<%= link_to 'Edit', edit_research_project_path(@research_project) %> |
<%= link_to 'Back', research_projects_path %>
