<h1>Listing co_supervisors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Institution</th>
      <th>Teacher</th>
      <th>Thesis supervision</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @co_supervisors.each do |co_supervisor| %>
      <tr>
        <td><%= co_supervisor.name %></td>
        <td><%= co_supervisor.institution %></td>
        <td><%= co_supervisor.teacher %></td>
        <td><%= co_supervisor.thesis_supervision %></td>
        <td><%= link_to 'Show', co_supervisor %></td>
        <td><%= link_to 'Edit', edit_co_supervisor_path(co_supervisor) %></td>
        <td><%= link_to 'Destroy', co_supervisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Co supervisor', new_co_supervisor_path %>
