<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @examination.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @examination.description %>
</p>

<p>
  <strong>Thesis:</strong>
  <%= @examination.thesis %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @examination.teacher %>
</p>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', examinations_path %>
